<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<appSettings>

		<add key="ConnectionString" value ="Hello"/>
	</appSettings>

	<connectionStrings>
		<add name="DBName" connectionString ="ETC"/>
		<add name ="Server"	 connectionString="."/>
		<add name ="User Id" connectionString="sa"/>
		<add name="Password" connectionString ="sa123456"/>
	</connectionStrings>
	
</configuration>